@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face {
  font-family: 'bombingregular';
  src: url('./fonts/bombing-webfont.woff2') format('woff2'),
        url('./fonts/bombing-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'painterzregular';
  src: url('./fonts/painterz-webfont.woff2') format('woff2'),
       url('./fonts/painterz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'next_ups_blackregular';
  src: url('./fonts/next_ups_black-webfont.woff2') format('woff2'),
       url('./fonts/next_ups_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'next_upsregular';
  src: url('./fonts/painterz-webfont.woff2') format('woff2'),
       url('./fonts/painterz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*navbar*/
.title {
  font-family: 'bombingregular';
  font-size: 60px !important;
  color: black  !important;
}


  .nav {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 20em;
    height: 75px;
    background-color: teal;
    font-family: 'bombingregular';
    
  }

  .nav img {
    height:70px;
  }

  .navBtn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
   
  /**********home*************/
  .main-container {
    min-height: 100vh; 
    overflow: hidden;
    position: relative;
    margin-top: 3em ;
    }

.pagination {
  justify-content: center;
  
}

   .itemDisplay {
   background-color: #e8d8ae;
   border-radius: 2em;
   margin: 5em;
   padding-top: 2em;
   padding-bottom: 3em;
   padding-right: 3em;
   padding-left: 3em;
   display: block;
   float: center;
   
  }

    .itemTitle {
      font-family: 'painterzregular';
    }
    
    p {
      font-family: 'Quicksand', sans-serif;
    }
    
    /*modals*/
     .modal-header {
      background-color: #e8d8ae;
    } 

       .modalTitle {
        font-family: 'bombingregular' !important;
        font-size: 35px !important;
      }

      .editDisplay {
        width: 75vw !important;
        max-width: 100vw !important;
      }

      .buttons {
        justify-content: right;
      }
    
    .editBtn {
      background-color: transparent !important;
      border-color: transparent !important;
      color: black !important;
      font-family: 'bombingregular' ;
      font-size: 35px !important;
    }

    .modalBtn {
      background-color: transparent !important;
      border-color: transparent !important;
      color: black !important;
      font-family: 'painterzregular';
      font-size: 35px !important;
    }
    
    /****hovers***/
    Button :hover {
      font-size: 50px !important;
    }

    .editBtn :hover {
      width: 50px !important;
      height: 40px !important;
    }

    Button :visited {
      box-shadow: none;
    }


  
   